@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  /* line-height: normal; */
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow: "hidden";
  scroll-behavior: smooth;
}

.full-h-w {
  width: 100vw;
  min-height: 100vh;
}

.bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -99;
  opacity: 0.6;
}

@media (min-aspect-ratio: 16/9) {
  .bg-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .bg-video {
    width: auto;
    height: 100%;
  }
}

@layer base {
  .page_main {
    /* @apply h-full w-full min-h-[90vh] */
    @apply h-full w-full min-h-[88vh];
  }

  .page_section {
    @apply h-full w-full;
  }

  .flex_center {
    @apply flex justify-center items-center;
  }

  /* buttonsss */
  .btn_primary_1 {
    @apply text-text-color bg-primary hover:bg-primary-hover border-2 border-primary rounded-xl  text-center inline-flex items-center transition-colors  
    text-sm px-4 py-2 gap-1
    md:text-base md:px-6 md:py-2.5 md:gap-1.5
    xl:text-xl xl:px-8 xl:py-3 xl:gap-2;
  }

  .btn_primary_2 {
    @apply text-text-color bg-transparent hover:border-primary-hover border-2 border-primary rounded-xl  text-center inline-flex items-center transition-colors
    text-sm px-4 py-2 gap-1
    md:text-base md:px-6 md:py-2.5 md:gap-1.5
    xl:text-xl xl:px-8 xl:py-3 xl:gap-2;
  }

  .btn_secondary {
    @apply text-text-color bg-highlight border-2 border-highlight rounded-xl  text-center inline-flex items-center transition-colors
    text-sm px-4 py-2 gap-1
    md:text-base md:px-6 md:py-2.5 md:gap-1.5
    xl:text-xl xl:px-8 xl:py-3 xl:gap-2;
  }

  .btn_secondary_2 {
    @apply text-text-color bg-transparent hover:bg-highlight border-2 border-highlight rounded-xl  text-center inline-flex items-center transition-colors
    text-sm px-4 py-2 gap-1
    md:text-base md:px-6 md:py-2.5 md:gap-1.5
    xl:text-xl xl:px-8 xl:py-3 xl:gap-2;
  }

  .btn_sidebar {
    @apply text-text-color bg-transparent hover:bg-primary-hover rounded-md text-base px-6 py-2 text-center inline-flex items-center gap-2 transition-colors w-full;
  }

  .btn_sidebar_active {
    @apply text-text-color bg-primary-hover rounded-md text-base px-6 py-2 text-center inline-flex items-center gap-2 transition-colors w-full;
  }

  .btn_secondary_1 {
    @apply text-text-color bg-secondary hover:bg-secondary-hover border-secondary border-2 rounded-xl text-xl px-8 py-3 text-center inline-flex items-center gap-2;
  }

  /* text gradient color ========= */

  .text_big_heading_size {
    @apply xl:text-9xl lg:text-8xl md:text-7xl text-[2.7rem];
  }

  .text_heading_size {
    @apply xl:text-6xl lg:text-5xl md:text-4xl text-3xl;
  }

  .text_sub_heading_size {
    @apply xl:text-3xl lg:text-3xl md:text-2xl text-xl;
  }

  .text_primary_gradient {
    @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-primary via-primary to-secondary;
  }

  .text_primary_gradient_2 {
    @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-secondary via-primary to-primary;
  }

  .text_highlight_gradient {
    @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-orange-400 via-highlight to-orange-400;
  }

  .input_1 {
    @apply bg-primary-bg border border-primary text-text-color rounded-lg block w-full
    text-sm px-3 py-2.5 gap-1
    md:text-base md:px-4 md:py-3 md:gap-1.5
    xl:text-xl xl:px-6 xl:py-3 xl:gap-2;
  }

  /* gradient colors */

  .primary_gradient {
    @apply bg-gradient-to-r from-amber-500 via-primary to-yellow-500 bg-clip-text text-transparent;
  }

  .secondary_gradient {
    @apply bg-gradient-to-r from-primary to-cyan-500 bg-clip-text text-transparent;
  }

  /* backgounds */

  .glassmorphism-bg {
    /* @apply  shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur; */
    @apply bg-primary-bg/40 shadow-lg backdrop-blur-lg;
  }

  .glassmorphism-box {
    @apply rounded-xl border border-gray-200 bg-white/20  backdrop-blur p-5;
    /* @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199, 199, 199, 0.2)] backdrop-blur p-5; */
  }
}
